<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Autora</title>
</head>
<body>

<h2>Editar Autora</h2>

<form th:action="@{/autoras/editar/{id}(id=${autora.id})}"
      th:object="${autora}" method="post">

    <label>Nome</label><br>
    <input type="text" th:field="*{nome}" required><br><br>

    <label>Email</label><br>
    <input type="email" th:field="*{email}"><br><br>

    <label>Instituição</label><br>
    <input type="text" th:field="*{instituicao}"><br><br>

    <label>Lattes</label><br>
    <input type="text" th:field="*{lattes}"><br><br>

    <button type="submit">Atualizar</button>
</form>

<br>
<a th:href="@{/autoras}">Voltar</a>

</body>
</html>
